/* MAIN RULES */

body {
  display: flex;
  flex-direction: column;
  font-family: 'Alexandria', sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  color: #999999;
  background-color: #000000;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

img {
  width: 300px;
  height: 300px;
}

ul,
ol,
a {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  padding: 40px 0;
}

footer {
  padding: 40px 0 0 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.batch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border: 1px solid #4D4D4D;
  border-radius: 24px;
  padding: 12px 20px;
  height: 41px; 
  background-color: transparent;
  color: #9DFF3A;
  font-weight: 400;
  font-size: 14px;
}

.content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

/* HEADER */

.header-sect {
  padding: 20px 0;
}

.site-nav {
  display: none;
}

.header-container {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-site-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.header-logo {
  fill: #9dff3a;
}

.logo-text {
  margin: 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  color: #fff;
}

.header-btn {
  background-color: transparent;
  fill: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
}

.log-btn,
.try-btn {
  display: none;
}

/* MAIN SECTION */

main {
  display: flex;
  flex-direction: column;
}

.main-sect {
  display: flex;
  flex-direction: column;
}

.status-btn {
  border-radius: 24px;
  padding: 10px 12px;
  width: 137px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  color: #9DFF3A;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  backdrop-filter: blur(40px);
  border: solid 1px #4D4D4D;
}

.main-h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
  color: #E5E5E5;
  margin: 0;
}

.main-p {
  font-weight: 200;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: #9DFF3A;
  border-radius: 40px;
  padding: 14px 24px;
  width: 152px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  border: none;
}

.watch-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 40px;
  padding: 14px 24px;
  background-color: transparent;
  color: #E5E5E5;
  border: solid 1px #4D4D4D;
  gap: 10px;
}

.watch-btn-svg {
  fill: #e5e5e5;
}

.main-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.main-content-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;  
}

/* PARTNERS  SECTION */

.partners-container {
  gap: 32px;
}

.partners { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.partners-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.partners-logo-icon {
  width: 22px;
  height: 22px;
  fill: #999999;
}

.partners-logo-text {
  margin: 0;
  color: #999999;
}

.partners-div-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.partners-div-2 {
  display: flex;
  flex: row;
  justify-content: space-around;
  gap: 20px;
}

.partners-heading {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.partners-sect {
  background-color: #0F0F0F;
}

/* FEATURES SECTION */

.features-container {
  gap: 32px;
}

.features-text {
  margin: 0;
}

.content-heading {
  font-weight: 400;
  font-size: 28px; 
  line-height: 1;
  text-transform: capitalize;
  color: #E5E5E5;
  margin: 0;
}

.content-p {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #999999;
  margin: 0;
}

.features-card-heading {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #E5E5E5;
  margin: 0;
}

.features-card-p {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #999999;
  margin: 0;
}

.features-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;  
  width: 314px;
  height: 84px;
}

.features-card {
  min-width: 362px;
  width: 100%;
  max-width: 792px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 24px;
  gap: 36px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.04);
  border: solid 1px #4D4D4D;
}

.features-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 1200px;
}

/* STATISTICS SECTION */

.statistics-sect {
  background-color: #0F0F0F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statistics-container {
  gap: 32px;
}

.statistics-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.statistics-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;  
}

.statistics-amount {
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
  color: #9DFF3A;
}

.of-what {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #999999;
}

/* BLOCKCHAIN SECTION */

.blockchain-features-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.blockchain-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  border-radius: 20px;
  padding: 24px 20px;
  min-width: 362px;
  max-width: 792px;
  min-height: 169px;
  background-color: #0F0F0F;
  border: solid 1px #4D4D4D;
}

.blockchain-card-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.blockchain-card-heading {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #E5E5E5;
}

.blockchain-card-p {
  font-weight: 300;
  font-size: 14px;
  color: #999999;
}

.blockchain-card-text {
  display: flex;
  text-align: start;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.blockchain-card-svg {
  width: 28px;
  height: 28px;
}

/* TESTIMONIAL SECTION */

.opinion-sect {
  background-color: #0F0F0F;
}

.opinion-div {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 100%;
}

.reviewer-photo {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.opinion-list-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.opinion-list-bttm, 
.opinion-list-top {
  gap: 20px;
}

.opinion-list-bttm {
  display: none;
}

.opinion-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px; 
  border-radius: 16px;
  padding: 32px;
  width: 100%;
  max-width: 792px;
  min-height: 196px;
  border: solid 1px #4D4D4D;
  background-color: #000000;
  scroll-snap-align: start;
}

.opinion {
  font-weight: 400;
  font-size: 16px;
  color: #E5E5E5;
  text-align: start;
  margin: 0;
}

.reviewer-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}

.reviewer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  width: 109px;
  height: 38px;
}

.reviewer-name, .reviewer-job {
  margin: 0;
}

.reviewer-name {
  font-weight: 400;
  font-size: 14px;
  background-clip: text;
  color: #E5E5E5;
}

.reviewer-job {
  font-weight: 400;
  font-size: 12px;
  color: #4D4D4D;
}

/* FAQ SECTION */

.FAQ-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.FAQ-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 792px;
}

.FAQ-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  flex-direction: row;
  border: 1px solid #4D4D4D;
  padding: 16px 20px;
  width: 100%;
  max-width: 792px;
  height: 72px;
}

.FAQ-question {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #E5E5E5;
  width: 100%;
}

/* Revolutionary SECTION */

/* Footer */

.links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.links-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.link {
  font-weight: 300;
  font-size: 14px;
  color: #999999;
}

.footer-heading {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #E5E5E5;
  margin: 0;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 385px;
  border-bottom:1px solid rgba(153, 153, 153, 1);
  padding-bottom: 8px;
}

.right-side-heading {
  margin: 0;font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #d8d8d8;
}

.right-side-input {
  font-weight: 300;
}

.input-wrapper input {
  background: transparent;
  border: none;
}

.input-wrapper button {
  background-color: #9DFF3A;
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer-input-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-input-svg {
  fill: #000000;
  width: 100%;
}

.footer-rights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

.footer-rights-p {
  font-weight: 400;
  font-size: 12px;
  color: #999999;
}

@media screen and (min-width: 1158px) {

  /* MAIN RULES */

  .container {
    padding: 0 120px;
  }

  section {
    padding: 88px 0;
  }

  /* HEADER SECTION */

  .header-btn {
    display: none;
  }

  .header-container {
    padding: 0 20px;
  }

  .site-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    min-width: 365px;
    height: 20px;
  }

  .site-nav-elem {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #999999;
  }

  .current {
    color: #E5E5E5;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
  }
  
  .header-sect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .header-nav {
    max-width: 782px;
  }

  .desktop-header-btn {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .log-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 8px 24px;
    height: 40px;
    font-weight: 300;
    font-size: 16px;
    color: #fff; 
    background-color: transparent;
    border: solid 1px #4D4D4D;
    border-radius: 40px;
  }
  
  .try-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 8px 24px;
    height: 40px;
    font-weight: 300;
    font-size: 16px;
    color: #000000; 
    background-color: #9DFF3A;
    border: solid 1px #4D4D4D;
    border-radius: 40px;
  }

  /* MAIN SECTION */

  .main-container {
    flex-direction: row;
  }

  .main-content {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
  }

  .main-content-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    gap: 24px;
  }

  .img-1 {
    width: 512px;
    height: 512px;
  }
  
  .main-h1 {
    text-align: start;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    text-transform: capitalize;
  }

  .main-p {
    text-align: start;
    font-size: 20px;
    line-height: 1.4;
  }

  .main-btn-group {
    flex-direction: row;
  }

  /* PARTNERS SECTION */

  .partners { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 72px;
    width: 100%;
  }

  .partners-div-2 {
    justify-content: center;
    gap: 72px;
  }

  .partners-div-1 {
    gap: 72px;
  }

  .partners-logo-icon {
    width: 32px;
    height: 32px;
  }

  /* FEATURES SECTION */

  .content-div {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .content-heading {
    font-size: 48px;
    font-weight: 400;
  }
  
  .content-p {
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
  }

  .features-text {
    max-width: 644px;
  }

  .features-cards {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    max-width: 100%;
    max-height: 264px;
  }

  .features-card {
    border-radius: 12px;
    padding: 48px 36px;
    width: 100%;
    height: 264px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 36px;
  }

  /* STATISTICS SECTION */

  .statistics-numbers {
    flex-direction: row;
    gap: 72px;
  }

  .statistics-container > .content-div {
    width: 704px;
    height: 204px;
  }

  /* BLOCKCHAIN SECTION */

  .blockchain-container > .content-div {
    width: 890px;
    height: 204px;
  }

  .img-2 {
    width: 506px;
    height: 506px;
  }

  .blockchain-container {
    gap: 80px;
  }

  .blockchain-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    width: 100%;
  }

  .blockchain-features-div {
    gap: 40px;
    width: 100%;
  }

  .blockchain-card {
    border-radius: 20px;
    padding: 30px 20px;
    width: 100%;
    height: 156px;
  }

  .blockchain-card-p {
    font-size: 16px;
    width: 100%;
  }

  /* OPINION SECTION */

  .opinion-div > .content-div {
    width: 644px;
  }

  .opinion-div {
    align-items: center;
    justify-content: center;
    gap: 72px;
  }

  /* TESTEMONIAL SECTION */

  .FAQ-container {
    gap: 72px;
  }

  .FAQ-container > .content-div {
    width: 890px;
  }
  
  /* REVOLUTIONARY SECTION */

  .revolutionary-container > .content-div {
    width: 878px;
  }

  /* FOOTER */

  .footer-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 92px;
  }

  .left-side {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    gap: 92px;
  }

  .links-div {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
  }

  .links-list {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .right-side {
    margin: 0;
  }

  .footer-rights {
    padding: 40px 0;
  }
}